<div class="popup" id="appointment_form">
	<h1>New Appointment</h1>
	
	<div class="contents">
		<%= form_remote_tag :url => {:controller => 'appointments', :action => 'create'} %>
			<%= render :partial => 'form' %>

			<div class="form_footer">
				<%= link_to_close_redbox 'Cancel', :class => 'cancel' %> or <%= submit_tag "Create" %>
			</div>
		<%= end_form_tag %>
	</div>
</div>